.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  min-width: 25%;
}

.embla__slide__inner {
  padding-left: 50px;
  position: relative;
  width: 100%;
  height: 100px; /* Adjust height as needed */
}

.embla__slide__img {
  display: block;
  width: 100%;
  height: 70%;
}

.embla__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.embla__button:first-of-type {
  left: 10px;
}

.embla__button:last-of-type {
  right: 10px;
}
