@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-outfit: "Outfit", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

body {
  background-color: black;
  margin: 10px 30px;
  font-family: var(--font-open-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit);
}

@layer utilities {
  .rotate-x-360 {
    transform: rotateX(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

.stroke-text {
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: white;
}

.service-box {
  display: inline-flex;
  align-items: center;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background: #181a1c;
  padding: 30px;
  border-radius: 0.5em;
}

.service-boxtwo {
  display: inline-block;
  text-align: left;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background: #181a1c;
  padding: 30px;
  border-radius: 0.5em;
}

.service-boxthree {
  display: inline-block;
  text-align: left;
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding: 30px;
  border-radius: 0.5em;
}

.service-boxthree::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, white, pink, violet, purple, blue);
}

.service-box::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, white, pink, violet, purple, blue);
}

.service-boxtwo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, white, pink, violet, purple, blue);
}

.service-box .service-order {
  display: inline-flex;
  width: 15%;
}

.service-box .service-title {
  display: inline-flex;
  width: 40%;
  align-items: center;
  padding-right: 24px;
}

.service-box .service-text {
  display: inline-flex;
  width: 45%;
}

.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 45%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 45%;
  padding: var(--slide-spacing);
  height: 450px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .embla__slide {
    min-width: 100%;
    height: 300px;
  }
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border: 1px solid white;
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid white;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: transparent;
  display: flex;
  align-items: center;
  content: "";
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
